<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'chant-system' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-text>
          Δίσημος, Τρίσημος, Τετράσημος
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          Δίσημος σημαίνει ότι κάθε 2 χρόνους(ή χτυπήματα) 2 φθόγγοι λέγονται.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <img class="header-logo" style="height:25px;" src="/assets/signs-combinations/two-part.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          Τρίσημος σημαίνει ότι κάθε 3 χρόνους(ή χτυπήματα) 3 φθόγγοι λέγονται.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <img class="header-logo" style="height:25px;" src="/assets/signs-combinations/three-part.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          Τετράσημος σημαίνει ότι κάθε 4 χρόνους(ή χτυπήματα) 4 φθόγγοι λέγονται.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <img class="header-logo" style="height:25px;" src="/assets/signs-combinations/four-part.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>