<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'characters-quantity' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Βυζαντινή Σημειογραφία</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          Η βυζαντινή μουσική χρησιμοποιεί ένα ιδιαίτερο σύστημα σημειογραφίας, το οποίο ονομάζεται
          <strong>σημειογραφία</strong> ή <strong>παρασημαντική</strong>. Αυτό το σύστημα αποτελείται από διάφορα σημεία
          που καταγράφουν τις μελωδίες.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Κύρια Στοιχεία της Σημειογραφίας</h2>
        <p>
          Όταν αναλύουμε μια μελωδία στη βυζαντινή μουσική, εστιάζουμε κυρίως σε τρία στοιχεία:
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>
              <h3>Ποσόν ή Ποσότητος:</h3>
              <p>
                Αναφέρεται στο ύψος της φωνής, δηλαδή το πόσο ανεβαίνει ή κατεβαίνει η νότα.
                Δείχνει αν η φωνή ανεβαίνει (ανάβασις) ή κατεβαίνει (κατάβασις).
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3>Χρόνον ή Χρόνου:</h3>
              <p>
                Αφορά τη διάρκεια της κάθε νότας, δηλαδή πόσο χρόνο κρατάται μια φωνή.
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3>Ποιον ή Έκφραση ή Ποιότητος:</h3>
              <p>
                Αφορά τον τρόπο εκφράσεως των φθόγγων, δηλαδή πώς ακριβώς απαγγέλλονται οι νότες.
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Χαρακτήρες Ποσότητος</h2>
        <p>
          Από τα παραπάνω στοιχεία, το <strong>ποσόν</strong> είναι ένα από τα βασικότερα και ονομάζεται
          <strong>χαρακτήρες ποσότητος</strong> ή <strong>έμφωνοι χαρακτήρες</strong>. Αυτοί οι χαρακτήρες δείχνουν την
          πορεία της φωνής
          (αν ανεβαίνει ή κατεβαίνει) και αποτελούν το κύριο μέρος της μουσικής γραφής.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Δέκα Χαρακτήρες Ποσότητος</h2>
        <p>
          Συνολικά, υπάρχουν <strong>δέκα χαρακτήρες ποσότητος</strong> στη βυζαντινή σημειογραφία. Αυτοί οι χαρακτήρες
          χρησιμοποιούνται για να καθορίσουν την κίνηση της φωνής μέσα στη μελωδία, είτε ανεβαίνοντας είτε
          κατεβαίνοντας,
          και είναι θεμελιώδεις για την κατανόηση και την εκτέλεση της μουσικής.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          Αυτή η δομή επιτρέπει στους μουσικούς να κατανοούν και να εκτελούν τις μελωδίες με ακρίβεια, διατηρώντας
          παράλληλα την παράδοση της βυζαντινής μουσικής.
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>

      <ion-col size="2"><ion-text><strong>Ίσον</strong></ion-text></ion-col>

      <ion-col size="2"><img class="sign-ison" src="/assets/signs/ison.png" /></ion-col>

      <ion-col size="2"><ion-text><strong>0
            Φωνή</strong></ion-text></ion-col>

      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>

      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="6">
        <h3>Ανιόντες Χαρακτήρες</h3>
      </ion-col>

      <ion-col size="6">
        <h3>Κατιόντες Χαρακτήρες</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="2"><ion-text><strong>Όλίγον</strong></ion-text></ion-col>

      <ion-col size="2"><img class="sign-oligon" src="/assets/signs/oligon.png" /></ion-col>

      <ion-col size="2"><ion-text><strong>+1
            Φωνή</strong></ion-text></ion-col>

      <ion-col size="2"><ion-text><strong>Απόστροφος</strong></ion-text></ion-col>

      <ion-col size="2"><img class="sign-apostrophe" src="/assets/signs/apostrophe.png" /></ion-col>

      <ion-col size="2"><ion-text><strong>-1
            Φωνή</strong></ion-text></ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="2"><ion-text><strong>Πεταστή</strong></ion-text></ion-col>

      <ion-col size="2"><img src="/assets/signs/petasti.png" /></ion-col>

      <ion-col size="2"><ion-text><strong>+1
            Φωνή</strong></ion-text></ion-col>

      <ion-col size="2"><ion-text><strong>Έλαφρον</strong></ion-text></ion-col>

      <ion-col size="2"><img src="/assets/signs/elafron.png" /></ion-col>

      <ion-col size="2"><ion-text><strong>-2
            Φωνή</strong></ion-text></ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="2"><ion-text><strong>Κεντήματα</strong></ion-text></ion-col>

      <ion-col size="2"><img src="/assets/signs/kentimata.png" /></ion-col>

      <ion-col size="2"><ion-text><strong>+1
            Φωνή</strong></ion-text></ion-col>

      <ion-col size="1"><ion-text><strong>Υπορροή</strong></ion-text></ion-col>

      <ion-col size="1"><img src="/assets/signs/uporoi.png" /></ion-col>

      <ion-col size="1"><ion-text style="font-size: 37px;"><strong>=</strong></ion-text></ion-col>

      <ion-col size="1"><img class="sign-apostrophe" src="/assets/signs/apostrophe.png" /></ion-col>

      <ion-col size="1"><img class="sign-apostrophe" src="/assets/signs/apostrophe.png" /></ion-col>

      <ion-col size="1"><ion-text><strong>-1 -1
            Φωνή</strong></ion-text></ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="2"><ion-text><strong>Κέντημα</strong></ion-text></ion-col>

      <ion-col size="2"><img src="/assets/signs/kentima.png" /></ion-col>

      <ion-col size="2"><ion-text><strong>+2
            Φωνή</strong></ion-text></ion-col>

      <ion-col size="2"><ion-text><strong>Χαμηλή</strong></ion-text></ion-col>

      <ion-col size="2"><img class="sign-xamili" src="/assets/signs/xamili.png" /></ion-col>

      <ion-col size="2"><ion-text><strong>-4
            Φωνή</strong></ion-text></ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="2"><ion-text><strong>Υψηλή</strong></ion-text></ion-col>

      <ion-col size="2"><img class="sign-ipsili" src="/assets/signs/ipsili.png" /></ion-col>

      <ion-col size="2"><ion-text><strong>+4
            Φωνή</strong></ion-text></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>